@inject IStringLocalizer<SharedResource> Loc

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <VocabularyManager.BlazorApp.Auth.RedirectToLogin />
                    }
                    else
                    {
                        <LayoutView Layout="@typeof(MainLayout)">
                            <AccessDeniedPage />
                        </LayoutView>
                    }
                </NotAuthorized>
                <Authorizing>
                    <p>@Loc["App_CheckingAuth"]</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <NotFoundPage />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
