@using VocabularyManager.BlazorApp.Models.Views
@using VocabularyManager.UseCases.Interfaces

@inject IStringLocalizer<VocabulariesResource> Loc

<div class="mt-1">
    @if (Vocabulary is not null)
    {
        <div class="flex-column border border-1 border-secondary rounded-2 p-2">
            <div class="text-secondary">@Loc["VocabularyNameLabel"] @Vocabulary.Name</div>
            <div class="text-secondary">@Loc["NumberOfWords"] @Vocabulary.Words?.Count</div>
            @if (!string.IsNullOrEmpty(Vocabulary.SourceUrl))
            {
                <div class="text-secondary">@Loc["Source"] @Vocabulary.SourceUrl</div>
            }
        </div>
    }
    else
    {
        <div class="text-danger">@Loc["NoVocabularyFound"]</div>
    }
</div>

@code {
    [Parameter]
    public VocabularyView? Vocabulary { get; set; }

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }
}
