@page "/wlplate"

@using VocabularyManager.BlazorApp.Interfaces
@using VocabularyManager.BlazorApp.Models.Views
@using VocabularyManager.BlazorApp.Pages.Modals
@using VocabularyManager.BlazorApp.Pages.Components

@inject IVocabularyStateManager<VocabularyView> VocabularyStateManager
@inject IStringLocalizer<VocabulariesResource> Loc

@implements IDisposable

<Modal @ref="_addWordModal"></Modal>
<div class="m-2">
    <Button @onclick="ShowAddWordModal" Type="ButtonType.Submit" Color="ButtonColor.Success">
        @Loc["AddNew"]
    </Button>
</div>
@if (Vocabulary?.Words.Count > 0)
{
    <div class="m-2">
        <FirstLetterFilter
            Letters="Vocabulary.Words.Select(w => w.WordContent.ToLower().FirstOrDefault()).Distinct()"
            OnChange="OnFilterChanged"
            OnFilterCleared="OnFilterCleared" />
    </div>
}
@if(Vocabulary is not null)
{
    @for (int i = StartOfPage(CurrentPage); i < EndOfPage(CurrentPage); i++)
    {
        <WordPlate Word="@_filteredWords[i]"></WordPlate>
    }
    <Pagination ActivePageNumber="@CurrentPage"
                TotalPages="@((int)Math.Ceiling(_filteredWords.Count * 1m / AmountWordsOnPage))"
                PageChanged="OnPageChangedAsync" />
}
else
{
    <span class="text-secondary">@Loc["NoListLoaded"]</span>
}

@code {
    [Parameter]
    public VocabularyView? Vocabulary { get; set; }
    private IList<WordView> _filteredWords = [];
    private char? _activeFilter;
    private int CurrentPage { get; set; } = 1;
    private const int AmountWordsOnPage = 20;
    private Modal _addWordModal = default!;

    protected override void OnInitialized()
    {
        VocabularyStateManager.SubscribeOnChangeAction(StateHasChanged);
        _filteredWords = Vocabulary?.Words ?? [];
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        _filteredWords = _activeFilter.HasValue
            ? Vocabulary?.Words.Where(w => w.WordContent.ToLower().FirstOrDefault() == _activeFilter.Value).ToList() ?? []
            : Vocabulary?.Words ?? [];

        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task OnPageChangedAsync(int newPageNumber)
    {
        await Task.Run(() => { CurrentPage = newPageNumber; });
    }

    private void OnFilterChanged(char letter)
    {
        _activeFilter = letter;
        _filteredWords = Vocabulary?.Words
            .Where(w => w.WordContent.ToLower().FirstOrDefault() == letter)
            .ToList() ?? [];
        CurrentPage = 1;

        StateHasChanged();
    }

    private void OnFilterCleared()
    {
        _activeFilter = null;
        _filteredWords = Vocabulary?.Words ?? [];
        CurrentPage = 1;
        StateHasChanged();
    }

    private async Task ShowAddWordModal()
    {
        Dictionary<string, object> parameters = [];
        parameters.Add("OnCloseFunc", (object)OnCloseModal);
        await _addWordModal.ShowAsync<AddWordModal>(title: Loc["AddWord"], parameters: parameters);
    }

    private async Task OnCloseModal()
    {
        await _addWordModal.HideAsync();
    }

    private int StartOfPage(int currentPage) => (currentPage - 1) * AmountWordsOnPage;

    private int EndOfPage(int currentPage)
    {
        int end = currentPage * AmountWordsOnPage;
        return end > _filteredWords.Count ? _filteredWords.Count : end;
    }

    public void Dispose()
    {
        VocabularyStateManager.UnsubscribeOnChangeAction(StateHasChanged);
    }
}
