@page "/search"
@using Microsoft.FluentUI.AspNetCore.Components
@using VocabularyManager.BlazorApp.Constants
@using VocabularyManager.BlazorApp.Models
@using VocabularyManager.BlazorApp.Models.Views
@using VocabularyManager.BlazorApp.Services
@using ToastService = BlazorBootstrap.ToastService

@inject HttpPathBuilder HttpPathBuilder
@inject HttpService HttpService
@inject NavigationManager NavigationManager

<div class="d-flex flex-row">
    <div class="col-md-5 col-sm-12 me-4">
        <AutoComplete @bind-Value="wordName"
                      TItem="WordSearchItem"
                      DataProvider="WordDataProvider"
                      PropertyName="DisplayText"
                      Placeholder="Search a word..."
                      OnChanged="OnWordChosen" />
    </div>

    <FluentCombobox Items="@vocabularyOptions"
        OptionText="@(v => v.Text)"
        OptionValue="@(v => v.Value?.Name)"
        OptionSelected="@(v => v.Selected)"
        @bind-SelectedOption="@selectedVocabulary" />
</div>

@code {
    [Inject] protected ToastService ToastService { get; set; } = default!;

    private string? wordName;
    private Option<ShortVocabulary> selectedVocabulary = default!;
    private IEnumerable<VocabularyView> vocabulariesWithWords = [];
    private List<Option<ShortVocabulary>> vocabularyOptions = [];

    protected override async Task OnInitializedAsync()
    {
        vocabulariesWithWords = await LoadVocabulariesWithWordsAsync();

        vocabularyOptions = vocabulariesWithWords
            .Select(v => new Option<ShortVocabulary>()
            {
                Value = new(v.Id, v.Name),
                Text = v.Name
            })
            .ToList();

        ShortVocabulary defaultVocabulary = new(
                VocabularyConstants.AllVocabulariesId,
                VocabularyConstants.AllVocabulariesLabel);
        Option<ShortVocabulary> defaultOption = new()
        {
            Value = defaultVocabulary,
            Text = defaultVocabulary.Name,
            Selected = true
        };

        vocabularyOptions.Add(defaultOption);
    }

    private async Task<AutoCompleteDataProviderResult<WordSearchItem>> WordDataProvider(
        AutoCompleteDataProviderRequest<WordSearchItem> request)
    {
        IEnumerable<WordSearchItem> items = GetWordSearchItems();

        return await Task.FromResult(request.ApplyTo(items));
    }

    private IEnumerable<WordSearchItem> GetWordSearchItems()
    {
        IEnumerable<VocabularyView> sources = selectedVocabulary.Value?.Id == VocabularyConstants.AllVocabulariesId
            ? vocabulariesWithWords
            : vocabulariesWithWords.Where(v => v.Id == selectedVocabulary.Value?.Id);

        return sources
            .SelectMany(v => v.Words.Select(w => new WordSearchItem { Word = w, VocabularyName = v.Name }));
    }

    private async Task<IEnumerable<VocabularyView>> LoadVocabulariesWithWordsAsync()
    {
        string path = HttpPathBuilder.GetVocabulariesEndpoint(withWords: true);
        HttpResponseMessage response = await HttpService.GetAsync(path);
        IList<VocabularyView>? list = await response.Content
            .ReadFromJsonAsync<IList<VocabularyView>>();
        return list ?? [];
    }

    private void OnWordChosen(WordSearchItem? item)
    {
        if (item is not null)
            NavigationManager.NavigateTo($"/word/{item.Word.Id}");
    }
}
