@page "/wordlistc"

@using VocabularyManager.BlazorApp.Pages.Modals
@using VocabularyManager.BlazorApp.Services
@using VocabularyManager.Core.Entities
@using VocabularyManager.UseCases.DTOs

@inject HttpService HttpService
@inject HttpPathBuilder HttpPathBuilder

<div class="container bg-light rounded-1 border-2">
    <h3>Vocabulary craft</h3>
    <div class="row">
        <div class="col">
            <label>Enter a parsing url</label>
            <div class="input-group mb-3">
                <input class="form-control" @bind="Url" @bind:event="oninput" @onkeyup="ValidateUrl"></input>
                <a 
                    class="btn btn-outline-dark @(IsUrlValid && !areWordsLoading ? "": "disabled")" 
                    @onclick="LoadWordList">
                    Load
                </a>
            </div>
            @if(!IsUrlValid)
            {
                <span class="text-danger">"It seems like passed url isn't valid."</span>
            }
        </div>
        @if (!areWordsLoading && WordList.Count > 0)
        {
            <div class="m-1">
                <hr />
            </div>
            <div class="flex-row">
                <div class="input-group mb-3">
                    <input class="form-control" @bind="WordListName" placeholder="Word list's name">
                    <button class="btn btn-outline-secondary @(isListSaving ? "disabled": "")" @onclick="SaveWordList">Save list</button>
                </div>
                @if(isListSaving)
                {
                    <div class="text-primary text-center align-content-center">
                        Saving...
                    </div>
                }
            </div>
            <div class="flex-row">
                @for (int i = StartOfPage(CurrentPage); i < EndOfPage(CurrentPage); i++)
                {
                    <div class="card mb-1 p-0 border-1 bg-transparent">
                        <div class="d-flex justify-content-between bg-gradient">
                            <div class="col m-auto ms-lg-2">
                                <div>@PositionLabelText(i + 1): @WordList[i].WordContent</div>
                                <div>Lexeme: @WordList[i].Lexeme</div>
                                <div>Level: @WordList[i].LevelAttribute</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <Pagination ActivePageNumber="@CurrentPage"
                        TotalPages="@((int)Math.Ceiling(WordList.Count * 1m / AmountWordsOnPage))"
                        PageChanged="OnPageChangedAsync" />
        }
        else if(areWordsLoading)
        {
            <div class="text-primary text-center align-content-center">
                Loading...
            </div>
        }
    </div>
</div>

<Modal @ref="modalResult" />

@code {
    private List<WordDTO> WordList = new List<WordDTO>();

    private int CurrentPage { get; set; } = 1;
    private const int AmountWordsOnPage = 50;

    private bool areWordsLoading = false;
    private bool isListSaving = false;

    private string Url { get; set; } = String.Empty;
    private bool IsUrlValid { get; set; } = true;
    private string WordListName { get; set; } = String.Empty;
    private bool IsWordListNameValid { get; set; } = true;

    private Modal modalResult = default!;

    private void ValidateUrl()
    {
        IsUrlValid = Uri.IsWellFormedUriString(Url, UriKind.Absolute);
    }
    private void ValidateWordlListName()
    {
        IsWordListNameValid = !String.IsNullOrEmpty(WordListName);
    }

    private async Task<IEnumerable<WordDTO>> GetWordListByHttp(string url)
    {
        HttpResponseMessage response = await HttpService
            .PostWithJson<string>(
                HttpPathBuilder.ParseListOfWordEndpoint(),
                url
            );
        if (response.IsSuccessStatusCode)
        {
            return await response.Content.ReadFromJsonAsync<IEnumerable<WordDTO>>() ?? 
                Enumerable.Empty<WordDTO>();
        }

        await ShowModalMessage(title: "Opps!", message: "Some problem is occured!");
        return Enumerable.Empty<WordDTO>();
    }

    private string PositionLabelText(int index)
    {
        if (index == 1) return String.Concat(index, "st");
        else if (index == 2) return String.Concat(index, "nd");
        else if (index == 3) return String.Concat(index, "rd");
        else return String.Concat(index, "th");
    }
    private async Task OnPageChangedAsync(int newPageNumber)
    {
        await Task.Run(() => { CurrentPage = newPageNumber; });
    }

    private int StartOfPage(int currentPage) => (currentPage - 1) * AmountWordsOnPage;
    private int EndOfPage(int currentPage)
    {
        // the code help to prevent exception index out of... when we try get last page
        int end = currentPage * AmountWordsOnPage;
        return end > WordList.Count ? WordList.Count : end;
    }

    private async Task LoadWordList()
    {
        areWordsLoading = true;

        WordList.Clear();
        ValidateUrl();
        WordList.AddRange(
            await GetWordListByHttp(Url)
        );

        areWordsLoading = false;
    }
    private async Task SaveWordList()
    {
        isListSaving = true;
        ValidateWordlListName();
        if(String.IsNullOrEmpty(WordListName))
        {
            isListSaving = false;
            await ShowModalMessage("Warning", "Please set the word list's name");
        }
        else
        {
            //the ok response of word list's creation return its id
            HttpResponseMessage wordListCreationResponse = await HttpService.PostWithJson<WordListDTO>(
                HttpPathBuilder.CreateWordListEndpoint(),
                new WordListDTO(WordListName, Url)
            );
            if (!wordListCreationResponse.IsSuccessStatusCode)
            {
                isListSaving = false;
                await ShowModalMessage("Opps!", await wordListCreationResponse.Content.ReadAsStringAsync());
                return;
            }

            int wordListId = int.Parse(await wordListCreationResponse.Content.ReadAsStringAsync());

            HttpResponseMessage wordsSavingResponse = await HttpService.PostWithJson<IEnumerable<WordDTO>>(
                HttpPathBuilder.AddWordsEndpoint(wordListId),
                WordList
            );
            if(wordsSavingResponse.IsSuccessStatusCode)
            {
                await ShowModalMessage("Good job!", $"The list: {WordListName} is saved");
            }
            else
            {
                await ShowModalMessage("Opps!", "Sorry, operation failed.");
            }
            isListSaving = false;
        }
    }
    private async Task ShowModalMessage(string title, string message)
    {
        var parameters = new Dictionary<string, object>();
        parameters.Add("Message", message);
        await modalResult.ShowAsync<ModalResult>(title: title, parameters: parameters);
    }
}