@using Microsoft.FluentUI.AspNetCore.Components
@using VocabularyManager.BlazorApp.Constants
@using VocabularyManager.BlazorApp.Models
@using VocabularyManager.BlazorApp.Models.Views
@using VocabularyManager.BlazorApp.Services
@using ToastService = BlazorBootstrap.ToastService

@inject HttpPathBuilder HttpPathBuilder
@inject HttpService HttpService

<div class="d-flex flex-row">
    <div class="col-md-5 col-sm-12 me-4">
        <AutoComplete @bind-Value="wordName"
                      TItem="WordView"
                      DataProvider="WordDataProvider"
                      PropertyName="WordContent"
                      Placeholder="Search a word..."
                      OnChanged="OnWordChosen" />
    </div>

    <FluentCombobox Items="@vocabularyOptions"
        OptionText="@(v => v.Text)"
        OptionValue="@(v => v.Value?.Name)"
        OptionSelected="@(v => v.Selected)"
        @bind-SelectedOption="@selectedVocabulary" />
</div>

@if (currentWord is not null)
{
    <WordPlate Word="currentWord" />
}

@code {
    [Inject] protected ToastService ToastService { get; set; } = default!;

    private string? wordName;
    private Option<ShortVocabulary> selectedVocabulary = default!;
    private IEnumerable<VocabularyView> vocabulariesWithWords = [];
    private List<Option<ShortVocabulary>> vocabularyOptions = [];

    private WordView? currentWord;

    protected override async Task OnInitializedAsync()
    {
        vocabulariesWithWords = await LoadVocabulariesWithWordsAsync();

        vocabularyOptions = vocabulariesWithWords
            .Select(v => new Option<ShortVocabulary>()
            {
                Value = new ShortVocabulary(v.Id, v.Name),
                Text = v.Name
            })
            .ToList();

        ShortVocabulary defaultVocabulary = new ShortVocabulary(
                VocabularyConstants.AllVocabulariesId,
                VocabularyConstants.AllVocabulariesLabel);
        Option<ShortVocabulary> defaultOption = new Option<ShortVocabulary>()
        {
            Value = defaultVocabulary,
            Text = defaultVocabulary.Name,
            Selected = true
        };

        vocabularyOptions.Add(defaultOption);
    }

    private async Task<AutoCompleteDataProviderResult<WordView>> WordDataProvider(
        AutoCompleteDataProviderRequest<WordView> request)
    {
        IEnumerable<WordView> words = selectedVocabulary.Value?.Id == VocabularyConstants.AllVocabulariesId
            ? vocabulariesWithWords.SelectMany(v => v.Words)
            : vocabulariesWithWords.FirstOrDefault(v => v.Id == selectedVocabulary.Value?.Id)?.Words ?? [];

        Console.WriteLine(words.Count());

        return await Task.FromResult(request.ApplyTo(words));
    }

    private async Task<IEnumerable<VocabularyView>> LoadVocabulariesWithWordsAsync()
    {
        string path = HttpPathBuilder.GetVocabulariesEndpoint(withWords: true);
        HttpResponseMessage response = await HttpService.GetAsync(path);
        IList<VocabularyView>? list = await response.Content
            .ReadFromJsonAsync<IList<VocabularyView>>();
        return list ?? [];
    }

    private void OnWordChosen(WordView word)
    {
        currentWord = word;
    }
}
