@using FluentValidation
@using FluentValidation.Results
@using VocabularyManager.BlazorApp.Models.Views
@using VocabularyManager.BlazorApp.Services
@using VocabularyManager.BlazorApp.Interfaces

@inject HttpService HttpService
@inject HttpPathBuilder HttpPathBuilder
@inject IVocabularyStateManager<VocabularyView> VocabularyStateManager
@inject IValidator<WordView> WordValidator
@inject IValidator<MeaningView> MeaningValidator
@inject IStringLocalizer<SharedResource> SharedLoc

<WordForm Word="word"></WordForm>

<div class="mt-3">
    <h6>@SharedLoc["Label_MeaningsOptional"]</h6>
    @foreach (var meaning in word.Meanings)
    {
        <MeaningForm Meaning="meaning" OnDelete="@(() => RemoveMeaning(meaning))" />
    }
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Size="Size.Small" @onclick="AddMeaning">
        @SharedLoc["Btn_AddMeaning"]
    </Button>
</div>

<div class="m-1 mt-3">
    @if (validationErrors.Count > 0)
    {
        foreach (var error in validationErrors)
        {
            <ValidationError Error="error"></ValidationError>
        }
    }
</div>

<div class="mt-2">
    <Button Type="ButtonType.Submit" Color="ButtonColor.Success" @onclick="CreateWord">@SharedLoc["Btn_Create"]</Button>
    <Button Type="ButtonType.Reset" Color="ButtonColor.Danger" @onclick="OnCloseFunc">@SharedLoc["Btn_Cancel"]</Button>
</div>

@code {

    [Inject]
    protected ToastService ToastService { get; set; } = default!;

    [Parameter]
    public Func<Task> OnCloseFunc { get; init; } = () => Task.CompletedTask;

    private WordView word = new();
    private List<ValidationFailure> validationErrors = [];

    protected override void OnParametersSet()
    {
        word = new WordView("New word");
    }

    private void AddMeaning()
    {
        word.Meanings.Add(new MeaningView() { WordId = word.Id });
    }

    private void RemoveMeaning(MeaningView meaning)
    {
        word.Meanings.Remove(meaning);
    }

    private async Task CreateWord()
    {
        validationErrors.Clear();
        ValidationResult wordResult = WordValidator.Validate(word);

        if (!wordResult.IsValid)
        {
            validationErrors.AddRange(wordResult.Errors);
            return;
        }

        foreach (var meaning in word.Meanings)
        {
            ValidationResult meaningResult = MeaningValidator.Validate(meaning);
            if (!meaningResult.IsValid)
            {
                validationErrors.AddRange(meaningResult.Errors);
                return;
            }
        }

        HttpResponseMessage wordCreationResponse = await HttpService.PostWithJsonAsync<IEnumerable<WordView>>(
            HttpPathBuilder.AddWordEndpoint(VocabularyStateManager?.Vocabulary?.Id ?? -1),
            [word]
        );

        if (wordCreationResponse.IsSuccessStatusCode)
        {
            ToastService.Notify(new(ToastType.Info, SharedLoc["Toast_WordCreated"]));
            await VocabularyStateManager.Update();
            await OnCloseFunc();
        }
        else
        {
            ToastService.Notify(new(ToastType.Danger, SharedLoc["Toast_WordCreationFailed"]));
        }
    }
}
